<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="couchbaseClients">
      <section name="couchbaseDataStore" type="Couchbase.Configuration.Client.Providers.CouchbaseClientSection, Couchbase.NetClient" />
      <section name="couchbaseEventStore" type="Couchbase.Configuration.Client.Providers.CouchbaseClientSection, Couchbase.NetClient" />
    </sectionGroup>
    <section name="eventStoreProvider" type="Orleans.EventSourcing.EventStoreSection,Orleans.EventSourcing"/>
  </configSections>

  <eventStoreProvider>
    <provider Name="CouchBaseEventStore" Type="Orleans.EventSourcing.Couchbase.EventStoreProvider,Orleans.EventSourcing.Couchbase" Default="true" ConfigSection="couchbaseClients/couchbaseEventStore" />
  </eventStoreProvider>
  <couchbaseClients>
    <couchbaseDataStore>
      <servers>
        <add uri="http://192.168.0.100:8091" />
      </servers>
      <buckets>
        <add name="datastore" password="datastore" useSsl="false" />
      </buckets>
    </couchbaseDataStore>
    <couchbaseEventStore>
      <servers>
        <add uri="http://192.168.0.100:8091"/> 
      </servers>
      <buckets>
        <add name="eventstore" password="eventstore" useSsl="false" />
      </buckets>
    </couchbaseEventStore>
  </couchbaseClients>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>