<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="couchbaseClients">
      <section name="couchbaseDataStore" type="Couchbase.Configuration.Client.Providers.CouchbaseClientSection, Couchbase.NetClient" />
      <section name="couchbaseEventStore" type="Couchbase.Configuration.Client.Providers.CouchbaseClientSection, Couchbase.NetClient" />
    </sectionGroup>
    <section name="eventStoreProvider" type="Orleans.EventSourcing.EventStoreSection,Orleans.EventSourcing"/>
  </configSections>

  <eventStoreProvider>
    <provider Name="CouchBaseEventStore" Type="Test" Default="true" ConfigSection="couchbaseEventStore" />
    <provider Name="SqlServerEventStore" Type="Test" Default="true" ConnectionString="Data Source=192.168.0.100;Initial Catalog=myDataBase;User Id=myUsername;Password=myPassword;" />
  </eventStoreProvider>
  <couchbaseClients>
    <couchbaseDataStore>
      <servers>
        <add uri="http://192.168.0.100:8091"></add>
      </servers>
      <buckets>
        <add name="datastore" password="datastore" useSsl="false" />
      </buckets>
    </couchbaseDataStore>
    <couchbaseEventStore>
      <servers>
        <add uri="http://192.168.0.1002:8091"></add>
      </servers>
      <buckets>
        <add name="eventstore" password="eventstore" useSsl="false">
          <connectionPool name="custom" maxSize="10" minSize="5"></connectionPool>
        </add>
      </buckets>
    </couchbaseEventStore>
  </couchbaseClients>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>